
body{
    background-color: rgb(47, 76, 204);
}
.taskbar{
    background-color: red;
    color: white;
    border: 10px;
    display: block;
    padding: 10px;
    margin-bottom: 0px;
}

#logo{
    float: left;
    margin-right: 20px;
    display: block;
}
t{
    font-size: large;
}